version: 2.1

orbs:
  terraform: circleci/terraform@3.2.0

executors:
  unified-executor:
    docker:
      - image: cimg/go:1.25.5-node

jobs:
  build-and-test:
    executor: unified-executor
    steps:
      - checkout
      - run:
          name: Install Core Dependencies
          command: |
            sudo apt-get update
            sudo apt-get install -y protobuf-compiler rsync
      - run:
          name: Install Protoc Gen Go
          command: go install google.golang.org/protobuf/cmd/protoc-gen-go@latest
      - restore_cache:
          keys:
            - go-mod-v1-{{ checksum "go.work.sum" }}
            - npm-v1-{{ checksum "package-lock.json" }}-{{ checksum "functions/hevy-handler/package-lock.json" }}-{{ checksum "functions/keiser-poller/package-lock.json" }}-{{ checksum "shared/typescript/package-lock.json" }}
      - run:
          name: Setup Environment (Fresh Clone Simulation)
          command: make setup
      - save_cache:
          key: go-mod-v1-{{ checksum "go.work.sum" }}
          paths:
            - ~/go/pkg/mod
      - save_cache:
          key: npm-v1-{{ checksum "package-lock.json" }}-{{ checksum "functions/hevy-handler/package-lock.json" }}-{{ checksum "functions/keiser-poller/package-lock.json" }}-{{ checksum "shared/typescript/package-lock.json" }}
          paths:
            - ~/.npm
            - node_modules
            - functions/hevy-handler/node_modules
            - functions/keiser-poller/node_modules
            - shared/typescript/node_modules
      - run:
          name: Linting
          command: make lint
      - run:
          name: Run Tests
          command: make test
      - persist_to_workspace:
          root: .
          paths:
            - .
  deploy:
    parameters:
      target:
        type: string
    executor:
      name: terraform/default
      tag: "1.5.7"
    steps:
      - attach_workspace:
          at: .
      - run:
          name: Authenticate with GCP via OIDC
          command: |
            # Install dependencies for gcloud CLI (Alpine Linux)
            apk add --no-cache python3 py3-pip curl bash

            # Download and install gcloud SDK
            curl -O https://dl.google.com/dl/cloudsdk/channels/rapid/downloads/google-cloud-cli-linux-x86_64.tar.gz
            tar -xf google-cloud-cli-linux-x86_64.tar.gz
            ./google-cloud-sdk/install.sh --quiet
            export PATH=$PATH:$(pwd)/google-cloud-sdk/bin

            # Create OIDC token file
            echo $CIRCLE_OIDC_TOKEN > /tmp/oidc_token.txt

            # Configure credential config for Workload Identity
            gcloud iam workload-identity-pools create-cred-config \
              "//iam.googleapis.com/projects/911679924866/locations/global/workloadIdentityPools/circleci-pool/providers/circleci-provider" \
              --service-account=circleci-deployer@fitglue-server-dev.iam.gserviceaccount.com \
              --output-file=/tmp/gcp_cred_config.json \
              --credential-source-file=/tmp/oidc_token.txt \
              --credential-source-type=text

            # Set credentials for terraform
            export GOOGLE_APPLICATION_CREDENTIALS=/tmp/gcp_cred_config.json
            echo "export GOOGLE_APPLICATION_CREDENTIALS=/tmp/gcp_cred_config.json" >> $BASH_ENV
            echo "export PATH=\$PATH:$(pwd)/google-cloud-sdk/bin" >> $BASH_ENV
      - terraform/init:
          path: ./terraform
      - run:
          name: Deploy to << parameters.target >>
          command: |
            export GOOGLE_APPLICATION_CREDENTIALS=/tmp/gcp_cred_config.json
            terraform -chdir=terraform apply -auto-approve -var="project_id=fitglue-server-<< parameters.target >>"

workflows:
  version: 2
  pipeline:
    jobs:
      - build-and-test
      - deploy:
          name: deploy-dev
          target: dev
          requires:
            - build-and-test
          filters:
            branches:
              only: main
      - approve-test:
          type: approval
          requires:
            - deploy-dev
      - deploy:
          name: deploy-test
          target: test
          requires:
            - approve-test
      - approve-prod:
          type: approval
          requires:
            - deploy-test
      - deploy:
          name: deploy-prod
          target: prod
          requires:
            - approve-prod
