version: 2.1

orbs:
  terraform: circleci/terraform@3.2.0

executors:
  # unified-executor has Go, Node, and utilities to run 'make setup' and tests
  unified-executor:
    docker:
      - image: cimg/go:1.25.5-node

jobs:
  build-and-test:
    executor: unified-executor
    steps:
      - checkout
      - run:
          name: Install Core Dependencies
          command: |
            sudo apt-get update
            sudo apt-get install -y protobuf-compiler rsync
      - run:
          name: Install Protoc Gen Go
          command: go install google.golang.org/protobuf/cmd/protoc-gen-go@latest
      - restore_cache:
          keys:
            - go-mod-v1-{{ checksum "go.work.sum" }}
      - restore_cache:
          keys:
            - npm-v1-{{ checksum "package-lock.json" }}-{{ checksum "functions/hevy-handler/package-lock.json" }}-{{ checksum "functions/keiser-poller/package-lock.json" }}-{{ checksum "shared/typescript/package-lock.json" }}
      - run:
          name: Setup Environment (Fresh Clone Simulation)
          command: make setup
      - save_cache:
          key: go-mod-v1-{{ checksum "go.work.sum" }}
          paths:
            - ~/go/pkg/mod
      - save_cache:
          key: npm-v1-{{ checksum "package-lock.json" }}-{{ checksum "functions/hevy-handler/package-lock.json" }}-{{ checksum "functions/keiser-poller/package-lock.json" }}-{{ checksum "shared/typescript/package-lock.json" }}
          paths:
            - ~/.npm
            - node_modules
            - functions/hevy-handler/node_modules
            - functions/keiser-poller/node_modules
            - shared/typescript/node_modules
      - run:
          name: Linting
          command: make lint
      - run:
          name: Run Tests
          command: make test
      - persist_to_workspace:
          root: .
          paths:
            - .

  deploy:
    parameters:
      target:
        type: string
    executor:
      name: terraform/default
      tag: "1.5.7"
    steps:
      - attach_workspace:
          at: .
      - terraform/init:
          path: ./terraform
      - run:
          name: Deploy to << parameters.target >>
          command: terraform -chdir=terraform apply -auto-approve -var="project_id=fitglue-server-<< parameters.target >>"

workflows:
  version: 2
  pipeline:
    jobs:
      - build-and-test
      - deploy:
          name: deploy-dev
          target: dev
          requires:
            - build-and-test
          filters:
            branches:
              only: main
      - approve-test:
          type: approval
          requires:
            - deploy-dev
      - deploy:
          name: deploy-test
          target: test
          requires:
            - approve-test
      - approve-prod:
          type: approval
          requires:
            - deploy-test
      - deploy:
          name: deploy-prod
          target: prod
          requires:
            - approve-prod
