version: 2.1

orbs:
  terraform: circleci/terraform@3.2.0


executors:
  unified-executor:
    docker:
      - image: cimg/go:1.25.5-node

jobs:
  build-and-test:
    executor: unified-executor
    steps:
      - checkout
      - run:
          name: Install Core Dependencies
          command: |
            sudo apt-get update
            sudo apt-get install -y protobuf-compiler rsync
      - run:
          name: Install Protoc Gen Go
          command: go install google.golang.org/protobuf/cmd/protoc-gen-go@latest
      - restore_cache:
          keys:
            - go-mod-v2-{{ checksum "src/go/go.sum" }}
            - npm-v2-{{ checksum "src/typescript/package-lock.json" }}
      - run:
          name: Setup Environment
          command: make setup
      - save_cache:
          key: go-mod-v2-{{ checksum "src/go/go.sum" }}
          paths:
            - ~/go/pkg/mod
      - save_cache:
          key: npm-v2-{{ checksum "src/typescript/package-lock.json" }}
          paths:
            - ~/.npm
            - src/typescript/node_modules
      - run:
          name: Build
          command: make build
      - run:
          name: Linting
          command: make lint
      - run:
          name: Run Tests
          command: make test
      - persist_to_workspace:
          root: .
          paths:
            - .
  deploy:
    parameters:
      target:
        type: string
      project_number:
        type: string
    executor:
      name: terraform/default
      tag: "1.5.7"
    steps:
      - attach_workspace:
          at: .
      - run:
          name: Install dependencies
          command: |
            apk add --no-cache python3 py3-pip curl bash make
      - run:
          name: Authenticate with GCP via OIDC
          command: |
            PROJECT_ID="fitglue-server-<< parameters.target >>"
            PROJECT_NUMBER="<< parameters.project_number >>"

            # Download and install gcloud SDK
            curl -O https://dl.google.com/dl/cloudsdk/channels/rapid/downloads/google-cloud-cli-linux-x86_64.tar.gz
            tar -xf google-cloud-cli-linux-x86_64.tar.gz
            ./google-cloud-sdk/install.sh --quiet
            export PATH=$PATH:$(pwd)/google-cloud-sdk/bin

            # Store OIDC token
            echo $CIRCLE_OIDC_TOKEN > /tmp/oidc_token.txt

            # Create credential config
            gcloud iam workload-identity-pools create-cred-config \
              "projects/${PROJECT_NUMBER}/locations/global/workloadIdentityPools/circleci-pool/providers/circleci-provider" \
              --service-account=circleci-deployer@${PROJECT_ID}.iam.gserviceaccount.com \
              --output-file=/tmp/gcp_cred_config.json \
              --credential-source-file=/tmp/oidc_token.txt

            # Authenticate
            gcloud auth login --brief --cred-file=/tmp/gcp_cred_config.json

            # Set credentials for terraform
            echo "export GOOGLE_APPLICATION_CREDENTIALS=/tmp/gcp_cred_config.json" >> $BASH_ENV
            echo "export PATH=\$PATH:$(pwd)/google-cloud-sdk/bin" >> $BASH_ENV
      - run:
          name: Prepare src for deployment
          command: make prepare
      - run:
          name: Terraform Init
          command: |
             export GOOGLE_APPLICATION_CREDENTIALS=/tmp/gcp_cred_config.json
             terraform -chdir=terraform init -backend-config=envs/<< parameters.target >>.backend.tfvars
      - run:
          name: Deploy to << parameters.target >>
          command: |
            export GOOGLE_APPLICATION_CREDENTIALS=/tmp/gcp_cred_config.json
            terraform -chdir=terraform apply -auto-approve -var="project_id=fitglue-server-<< parameters.target >>"

workflows:
  version: 2
  pipeline:
    jobs:
      - build-and-test
      - deploy:
          name: deploy-dev
          target: dev
          project_number: "911679924866"
          requires:
            - build-and-test
          filters:
            branches:
              only: main
      - deploy:
          name: deploy-test
          target: test
          project_number: "797085295878"
          requires:
            - deploy-dev
      - approve-prod:
          type: approval
          requires:
            - deploy-test
      - deploy:
          name: deploy-prod
          target: prod
          project_number: "605889586984"
          requires:
            - approve-prod
